<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration page</title>
    <link rel="stylesheet" href="/css/register.css">
</head>


<body>

    <div class="container">
        <div class="container2">
            <div class="flex">
                <div class="welcome">
                    <h2>welcome <%=tkn.name%>
                    </h2>
                </div>
                <div class="yellow"><a href="/logout" class="yellow"> Log out</a></div>
            </div>
        </div>
        <div>
            <ul>
                <li><a href="http://localhost:8080/tictactoe">Tic-Tac-Toe</a></li>
                <li><a href="http://localhost:8080/kukucube">Kuku Cube</a></li>
                <li><a href="http://localhost:8080/webpage">Webpage</a></li>
                <li><a href="http://localhost:8080/calc">calculator</a></li>
                <li><a href="http://localhost:8080/exel">Exel </a></li>
                <li><a href="http://localhost:8080/job_app_form">Job_app_form</a></li>
                <li><a href="http://localhost:8080/sorting">sorting</a></li>
                <li><a href="http://localhost:8080/searching">searching</a></li>
            </ul>
        </div>
    </div>
</body>


</html>